<%- include('header'); -%>
<div class="content">
  <h1 id="welcome">Contacts</h1>
  <h2> Name:</h2> <p>Kevin Joseph </p>
  <h2> Job Position:</h2> <p>Senior Store Manager</p>
  <h2> Company:</h2> <p>KTECH</p> 
  <h2> Address:</h2> <p>KTECH Corp,Jumeriah Street, Dubai </p>
  <h2> Phone:</h2> <p>+971504717648 </p>
  <h2> Email:</h2><p> kj103@ktech.co.uk </p><br>
</div>
<%- include('footer'); -%>
