<%- include('header'); -%>
<div class="content">
  <form action="/api/login" method="post">
    <h2>Username</h2> 
    <input type="text" name="username" id="username" /><br><br> 
    <h2>Password</h2>
    <input type="password" id="password" name="password" />
    <br><button>Sign-in</button>
  </form>
  <form action="/register">
    <br><button>Register</button>
  </form>
</div>
<%- include('footer'); -%>
