<%- include('header'); -%>
<div class="content">
  <form action="/api/register" method="post">
    Username: <input type="text" name="username" id="username" /> <br><br> Password:
    <input type="password" id="password" name="password" /><br><br> Society:
    <input type="text" name="society" id="society" /><br><br> Contact:
    <input type="text" name="contact" id="contact" /><br><br> Address:
    <input type="text" name="addres" id="addres" /><br><br> Zip Code:
    <input type="text" name="zipcode" id="zipcode" /><br><br> City:
    <input type="text" name="city" id="city" /><br><br> Phone:
    <input type="text" name="phone" id="phone" /><br><br> Fax:
    <input type="text" name="fax" id="fax" /><br><br> Max Outstanding:
    <input type="text" name="max_outstanding" id="max_outstanding" /><br><br>
    <button>Register</button>
  </form>
  <form action="/login">
    <button>Go Back to Login</button>
  </form>
  
</div>
<%- include('footer'); -%>
